body {
    padding: 2%;
    background-color: #EADEB8;
    background-image: url('woodbackground.jpeg');
    background-size: cover;
    min-height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html
{
  margin: 0;
  min-height: 100%;
}

h1 {
    font-size: 3rem;
}

table {
    padding: 5px;
}

td {
    text-align: center;
}

input[type=number] {
    background-color: aliceblue;
    border: 1px solid black;
    width: 48px;
    height: 22px;
    padding: 0;
}

.hidden {
    display: none;
}

.switch {
    margin: 0;
    border: 1px solid #000;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 15px -12px rgba(0, 0, 0, 0.05);
    display: inline-block;
    position: relative;
    appearance: none;
    height: 24px;
    width: 24px;
}

.switch:checked {
    background-color: #a51313;
}

.switch:active,
.switch:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.switch:checked:after {
    content: '\2714';
    font-size: 20px;
    bottom: 0;
    left: 10%;
    position: absolute;
    text-align: center;
    color: aliceblue;
}

.inline-title {
    display: inline;
    height: 100%;
}

#configurations {
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 15px -12px rgba(0, 0, 0, 0.05);
    background-color: #CFB784;
}

.divHomescreen
{
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
  padding: 1%;
}

.headerMancala
{
  margin-top: -40px;
  text-align: center;
  width: 100%;
}

.tableOptions
{
  text-align: center;
  width: 100%;
  border: 0;
}

.trTableOptions, .tdTableOptions
{
  padding: 0;
  border: 0;
  margin: 0;
}

.tdTableOptions
{
  width: 33%;
  text-align: center;
}

.tdTutorial
{
  text-align: left;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
